@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

h1, h2 {
    text-align: center;
    padding-bottom: 30px;
    letter-spacing: 4px;
}

a {
    color: #ddd;
    text-decoration: none;
}

.normal {
    padding: 60px 80px;
    text-align: justify;
    line-height: 1.8em;
}

.light {
    color: #666;
}

.dark {
    background-color: #282e34;
    color: #ddd;
}

.imagem {
    background: #fff bottom center no-repeat fixed;
    background-size: cover;
    position: relative;
}

.imagem h1 {
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#img1 {
    background-image: url('imagens/san-francisco01.jpg');
    min-height: 100vh;
}

#img1 h1, #img4 h1{
    background-color: #282e34;
    color: #ddd;
    width: 350px;
}


#img2 {
    background-image: url('imagens/san-francisco02.jpg');
    min-height: 40vh;
}

#img2 h1 {
    font-weight: normal;
    font-size: 1.7em;
    color: #fff;
}

#img3{
    background-image: url('imagens/san-francisco03.jpg');
    min-height: 40vh;
}

#img3 h1 {
    font-weight: normal;
    font-size: 1.7;
    color: #fff;
    background-color: #66666675;
}

#img4 {
    background-image: url('imagens/san-francisco04.jpg');
    min-height: 100vh;
}