@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #666;
    --cor1: #f4f4f4;
    --cor2: #282e34;
    --cor3: #ddd;
    --cor4: #111;
    --font-padrao: "Lato", sans-serif;
}

body {
    background-color: var(--cor1);
    font-family: var(--font-padrao);
}

h1 {
    text-align: center;
    padding-bottom: 30px;
    letter-spacing: 4px;
}

a {
    color: var(--cor3);
    text-decoration: none;
}

.normal {
    padding: 60px 80px;
    text-align: justify;
    line-height: 1.8em;
}

.light {
    color: var(--cor0);
}

.dark {
    background-color: #282e34;
    color: var(--cor3);
}

.imagem {
    background: #fff bottom center no-repeat fixed;
    background-size: cover;
    position: relative;
}

#img1 {
    background-image: url('imagens/san-francisco01.jpg');
    min-height: 100vh;
}

#img1 h1, #img4 h1{
    background-color: #282e34;
    color: var(--cor3);
    padding: 10px;
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


#img2 {
    background-image: url('imagens/san-francisco02.jpg');
    min-height: 40vh;
}

#img2 h1 {
    font-weight: normal;
    font-size: 1.7em;
    color: #fff;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#img3{
    background-image: url('imagens/san-francisco03.jpg');
    min-height: 40vh;
}

#img3 h1 {
    font-weight: normal;
    font-size: 1.7;
    color: #fff;
    padding: 10px;
    box-shadow: inset 1px 1px 12px 5px #282e34b6;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#img4 {
    background-image: url('imagens/san-francisco04.jpg');
    min-height: 100vh;
}